<div class="container">
    <div class="school">
        <h2>ШКОЛА АСТРОЛОГИИ<br/> АКАДЕМИЯ ДЖЙОТИШ ЭТО</h2>
        <div class="tabs-content" id="tabs">
            <div class="row">
                <div class="col tabs-item">
                    <button class="btn btn-link" v-on:click="show('two')">
                        <span class="cifr">02</span>
                        <p>Несколько вариантов онлайн обучения</p>
                        <i class="tabs-dot"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="tabs-item tabs-margin">
                        <button class="btn btn-link" v-on:click="show('first')">
                            <span class="cifr">01</span>
                            <p>Парампара К.Н.Рао/Марк Бони</p>
                        </button>
                    </div>
                    <div class="tabs-item tabs-margin">
                        <a href="#">
                            <span class="cifr">06</span>
                            <p>Полное образованние</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 tabs-text" id="tabs-text">
                    <p v-if="show1">Мы находимся в парампаре (линии) школы Котамраджу Нараяна Рао.

                        Преподаем под руководством одного из ведущих преподавателей Института Астрологии Бхаратья Видья Бхаван (Индия, Дели)Марка Бони, основателя Тихоокеанского Института Ведической Науки.</p>

                    <p v-if="show2">15 вариантов обучения!

                        3 уровня подготовки!

                        Возможность старта в группе или индивидуально, по плану или в удобный для вас день. Вы точно найдете для себя то, что нужно именно Вам!</p>
                </div>
                <div class="col">
                    <div class="tabs-item tabs-margin">
                        <a href="#">
                            <span class="cifr">03</span>
                            <p>Ежедневная поддержка студентов</p>
                        </a>
                    </div>
                    <div class="tabs-item tabs-margin">
                        <a href="#">
                            <span class="cifr">04</span>
                            <p>Дополнительное образование</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col tabs-item">
                    <a href="#">
                        <span class="cifr">05</span>
                        <p>Возможность практики</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tabs = new Vue({
        el: '#tabs',
        data: {
          show1: true,
          show2: false
        },
        methods: {
            show(message) {
                console.log(message);
                if(message == "first"){
                    this.show1 = true;
                    this.show2 = false;
                }
                if(message == "two"){
                    this.show1 = false;
                    this.show2 = true;
                }
            }
        }
    })
</script>