html, body
{
	margin:0;
	padding:0;
	font-size: 15px;
	font-family: 'Exo 2', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}
a img, a
{
	border:none;
	outline:none;
}
.clear
{
	clear:both;
	visibility: hidden;
	height:0px;
	overflow: hidden;
}
.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 32px;
	margin-bottom: 20px;
}
.logo img{
	width: 150px;
	height: auto;
}
.tel{
	margin-top: 20px;
}
.tel a{
	color: #093130;
	text-decoration: none !important;
	font-size: 24px;
}
.bg-light{
	background-color: #fff !important;
}
.nav-item{
	padding: 0 7px;
}
.nav-link{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #093130 !important;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.flex-blocks{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.main_blocks{
	background-image: url("/images/images/head-main.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 45px;
	height: 500px;
}
.planets{
	margin: 0 auto;
}
.pl1{
	background-image: url("/images/images/pl1.png");
	width: 73px;
	height: 75px;
	position: absolute;
	margin-left: -53px;
	margin-top: 16px;
}
.pl2{
	background-image: url("/images/images/pl2.png");
	width: 88px;
	height: 89px;
	position: absolute;
	margin-left: -5px;
	margin-top: 135px;
}
.pl3{
	background: url("/images/images/pl3.png");
	width: 171px;
	height: 84px;
	position: absolute;
	margin-left: -102px;
	margin-top: 251px;
}
.pl4{
	background: url("/images/images/pl4.png");
	width: 97px;
	height: 95px;
	position: absolute;
	margin-left: 328px;
	margin-top: 14px;
}
.pl5{
	background: url("/images/images/pl5.png");
	width: 164px;
	height: 83px;
	position: absolute;
	margin-left: 410px;
	margin-top: 102px;
}
.pl6{
	background: url("/images/images/pl6.png");
	width: 87px;
	height: 87px;
	position: absolute;
	margin-left: 340px;
	margin-top: 195px;
}
.pl7{
	background: url("/images/images/pl7.png");
	width: 81px;
	height: 83px;
	position: absolute;
	margin-left: 417px;
	margin-top: 286px;
}
.blocks{
	width: 50%;
	position: absolute;
}
.blocks h2{
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 200;
}
.blocks h1 strong{
	color: #0ba29d;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 70px;
}
.blocks h4 strong{
	font-size: 36px;
	line-height: 30px;
	font-weight: 600;
}
.blocks h3{
	font-size: 42px;
	text-transform: uppercase;
	color: #0ba29d;
	font-weight: bold;
	line-height: 35px;
}
.blocks h5{
	font-size: 19px;
}
.btn-blocks{
	color: #5e5e5e;
	background: #ffdc74;
	padding: 8px 20px;
	font-size: 18px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #ffdc74;
	margin-top: 50px;
}
hr{
	border-top: 10px dotted #e1e1e1;
}