html, body
{
	margin:0;
	padding:0;
	font-size: 15px;
	font-family: 'Exo 2', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
}
a img, a
{
	border:none;
	outline:none;
}
.clear
{
	clear:both;
	visibility: hidden;
	height:0px;
	overflow: hidden;
}
.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 32px;
	margin-bottom: 20px;
}
.logo img{
	width: 150px;
	height: auto;
}
.tel{
	margin-top: 20px;
}
.tel a{
	color: #093130;
	text-decoration: none !important;
	font-size: 24px;
}
.navbar{
	margin-left: 115px;
}
.bg-light{
	background-color: #fff !important;
}
.nav-item{
	padding: 0 7px;
}
.nav-link{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #093130 !important;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.flex-blocks{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.main_blocks{
	background-image: url("/images/images/head-main.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 45px;
	height: 500px;
}
.planets{
	margin: 0 auto;
}
.pl1{
	background-image: url("/images/images/pl1.png");
	width: 73px;
	height: 75px;
	position: absolute;
	margin-left: -53px;
	margin-top: 16px;
}
.pl2{
	background-image: url("/images/images/pl2.png");
	width: 88px;
	height: 89px;
	position: absolute;
	margin-left: -5px;
	margin-top: 135px;
}
.pl3{
	background: url("/images/images/pl3.png");
	width: 171px;
	height: 84px;
	position: absolute;
	margin-left: -102px;
	margin-top: 251px;
}
.pl4{
	background: url("/images/images/pl4.png");
	width: 97px;
	height: 95px;
	position: absolute;
	margin-left: 328px;
	margin-top: 14px;
}
.pl5{
	background: url("/images/images/pl5.png");
	width: 164px;
	height: 83px;
	position: absolute;
	margin-left: 410px;
	margin-top: 102px;
}
.pl6{
	background: url("/images/images/pl6.png");
	width: 87px;
	height: 87px;
	position: absolute;
	margin-left: 340px;
	margin-top: 195px;
}
.pl7{
	background: url("/images/images/pl7.png");
	width: 81px;
	height: 83px;
	position: absolute;
	margin-left: 417px;
	margin-top: 286px;
}
.blocks{
	width: 50%;
	position: absolute;
}
.blocks h2{
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 200;
}
.blocks h1 strong{
	color: #0ba29d;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 70px;
}
.blocks h4 strong{
	font-size: 36px;
	line-height: 30px;
	font-weight: 600;
}
.blocks h3{
	font-size: 42px;
	text-transform: uppercase;
	color: #0ba29d;
	font-weight: bold;
	line-height: 35px;
}
.blocks h5{
	font-size: 19px;
}
.btn-blocks{
	color: #5e5e5e;
	background: #ffdc74;
	padding: 8px 20px;
	font-size: 18px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #ffdc74;
	margin-top: 50px;
}
hr{
	border-top: 10px dotted #e1e1e1;
}
.tabs-content-mobile{
	display: none;
}
.tabs-content{
	margin-top: 25px;
}
.tabs-text{
	background: url("/images/images/circle4.png");
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
	background-size: 430px;
	margin: 130px 0;
	width: 100%;
	height: 430px;
}
.tabs-item-text{
	margin-top: 35px;
	padding: 108px 400px;
	font-size: 16px;
}
.school{
	margin-top: 50px;
}
.school h2{
	color: #093130;
	margin: 10px 0 0;
	font-size: 30px;
	font-family: 'Exo 2',Arial,'Arial Unicode MS',Helvetica,Sans-Serif;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}
.cifr{
	font-weight: 900;
	font-size: 70px;
	color: #ededed;
	text-decoration: none !important;
	line-height: 80px;
}
.tabs-item{
	text-align: center;
	position: relative;
}
.tabs-item button p, .tabs-title{
	font-family: 'Exo 2',Arial,'Arial Unicode MS',Helvetica,Sans-Serif;
	color: #303f50;
	font-size: 16px;
}
.tabs-item button:hover{
	text-decoration: none;
}
.tabs-item button p:hover{
	color: #0ba29d;
}
.active{
	color: #0ba29d69;
}
.active-text{
	color: #0ba29d !important;
}
.tabs-btn{
	width: 30%;
}
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6{
	position: absolute;
	z-index: 10;
}
.button-1{
	left: 6%;
	top: 23%;
}
.button-2{
	top: 0;
	left: 36%;
}
.button-3{
	right: 5%;
	top: 23%;
}
.button-4{
	right: 5%;
	top: 50%;
	margin: 50px 0;
}
.button-5{
	bottom: 0;
	left: 36%;
}
.button-6{
	left: 6%;
	top: 50%;
	margin: 50px 0;
}
.tabs-btn:focus{
	box-shadow: none;
	text-decoration: none;
}
.tabs-margin{
	margin: 50px 0;
}
.tabs-dot{
	background: url("/images/images/dot2.png");
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	z-index: 10;
}
.active-dot{
	background: url("/images/images/dot2g.png") !important;
}
.dot-pos1{
	position: absolute;
	left: 338px;
	bottom: 55px;
}
.dot-pos2{
	position: absolute;
	margin-top: 4px;
	margin-left: -21px;
}
.dot-pos3{
	position: absolute;
	right: 339px;
	bottom: 55px;
}
.dot-pos4{
	position: absolute;
	right: 328px;
	bottom: 55px;
}
.dot-pos5{
	position: absolute;
	margin-left: -21px;
	bottom: 130px;
}
.dot-pos6{
	position: absolute;
	left: 324px;
	bottom: 55px;
}
.teacher {
	margin-top: 50px;
}
.teacher h3{
	color: #093130;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.teacher-items{
	text-align: center;
	padding: 20px 30px;
}
.teacher-items button{
	font-size: 22px;
	font-weight: 700;
	color: #0ba29d;
}
.teacher-items button:hover {
	color: #0ba29d;
}
.teacher-items button:focus {
	box-shadow: none;
}
.teacher-pos{
	text-align: center !important;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 25px;
}
.teacher-items img{
	width: 196px;
	height: 198px;
}
.teacher-items p{
	text-align: justify;
}
.teacher-items ul{
	padding: 0;
}
.teacher-items ul li{
	text-align: justify;
	list-style-type: none;
}
.teacher-items ul li:before{
	content: '';
	margin-right: 10px;
	bottom: 1px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	background: #34b5b1;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
.img-star{
	padding-left: 120px;
}
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	transition: opacity 0.3s ease;
}
.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.modal-container {
	width: 900px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
	border-bottom: 3px dotted #e1e1e1;
}
.modal-header h4 {
	margin-top: 0;
	font-size: 22px;
	font-weight: 700;
	color: #0ba29d;
}
.modal-body {
	margin: 20px 0;
	height: 400px;
	overflow-y: scroll;
}
.modal-body ul li {
    text-align: justify;
    list-style-type: none;
    padding: 5px 0;
}
.modal-body ul li:before {
    content: '';
    margin-right: 10px;
    bottom: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    background: #34b5b1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.modal-footer {
	border-top: 3px dotted #e1e1e1;
}
.modal-default-button {
	float: right;
    color: #000;
}
.modal-default-button:focus{
    box-shadow: none;
}
.modal-enter {
	opacity: 0;
}
.modal-leave-active {
	opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.graduates {
	position: relative;
	margin-top: 80px;
}
.graduates-items-mobile {
	display: none;
}
.graduates-items {
	margin-top: 40px;
	width: 435px;
	height: 435px;
	background: url("/images/images/circle3.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.graduates-text {
	position: absolute;
	width: 60%;
	right: 0;
	top: 150px;
	padding: 10px 25px;
}
.graduates-text p, .graduates-text-mobile p {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
.name{
	font-size: 22px !important;
	color: #0ba29d;
}
.graduates-text ul li, .graduates-text-mobile ul li {
	list-style-type: none;
	line-height: 30px;
	font-size: 16px;
}
.graduates-text ul li:before, .graduates-text-mobile ul li:before{
	content: '';
	background: url("/images/images/spisok.png");
	width: 27px;
	height: 30px;
	position: absolute;
	margin-left: -40px;
}
.graduates-text-mobile ul li{
	text-align: justify;
}
.gr-img-1, .gr-img-2, .gr-img-3, .gr-img-4, .gr-img-5 {
	position: absolute;
	width: 106px;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.active_gr {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.gr-img-1 {
	top: 106px;
	left: 45px;
}
.gr-img-2 {
	top: 105px;
	left: 300px;
}
.gr-img-3 {
	top: 272px;
	left: 331px;
}
.gr-img-4 {
	top: 429px;
	left: 201px;
}
.gr-img-5 {
	top: 308px;
	left: 35px;
}
.graduates h3{
	color: #093130;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.graduates h3 span{
	color: #093130;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.gr-img-mobile {
	width: auto;
	height: 200px;
}
.graduates-item-m {
	text-align: center;
	position: relative;
}
.count-student {
	display:-webkit-box;display:-ms-flexbox;display:flex;
	flex-wrap: wrap;
	margin-top: 35px;
}
.facts-items {
	width: 33%;
	text-align: center;
	padding: 0 10px;
}
.facts-items span{
	font-weight: 900;
	font-size: 70px;
	text-decoration: none;
	color: #008080;
}
.facts-items p{
	font-weight: 500;
	font-size: 16px;
}
.main_video {
	background: url("/images/images/head-1024x208.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	margin-top: 20px;
	text-align: center;
}
.main_video h3{
	color: #093130;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 100px;
}
.main_video iframe{
	width: 500px;
	height: 266px;
	padding: 10px;
}
.reviews {
	text-align: center;
	margin-top: 35px;
	box-shadow: rgba(76, 173, 201, 0.45) 0px 25px 20px -20px;
}
.reviews-items {
	position: relative;
	text-align: center;
}
.reviews-img{
	width: 180px;
	height: auto;
}
.swiper-button-next:after{
	background: url("/images/images/arrow_right.png");
	background-size: 84px 32px;
	background-repeat: no-repeat;
	width: 84px;
	height: 32px;
	display: block;
	content: "";
}
.swiper-button-next, .swiper-button-prev{
	width: 90px;
	height: auto;
}
.swiper-button-prev:after{
	background: url("/images/images/arrow_left.png");
	background-size: 84px 32px;
	background-repeat: no-repeat;
	width: 84px;
	height: 32px;
	display: block;
	content: "";
}
.swiper-button-next{
	top: 80px;
	right: 75px;
}
.swiper-button-prev{
	top: 80px;
	left: 75px;
}
.reviews h3 {
	color: #093130;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.kurs{
	font-size: 20px;
	font-weight: 600;
}
.reviews-text{
	text-align: justify;
}
.all-reviews {
	color: #008080;
	font-size: 20px;
	font-weight: 700;
}
.all-reviews:hover{
	color: #008080;
}
.link-reviews{
	padding: 20px 0;
}

/* display:-webkit-box;display:-ms-flexbox;display:flex; */

/* -webkit-box-align:center;-ms-flex-align:center;align-items:center; */
/* -webkit-box-align:end;-ms-flex-align:end;align-items:flex-end; */
/* -webkit-box-align:start;-ms-flex-align:start;align-items:flex-start; */

/* -webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; */
/* -webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between; */
/* -ms-flex-pack:distribute;justify-content:space-around; */
/* -webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end; */
/* -webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start; */

/* -ms-flex-wrap:wrap;flex-wrap:wrap; */

/* -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column; */
/* -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row; */
/* -webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; */

@media (max-width: 1199px){
	.graduates-text {
		width: 50%;
	}
	.navbar{
		margin-left: 0;
	}
	.nav-link{
		font-size: 15px;
	}
	.blocks h2{
		font-size: 36px;
	}
	.blocks h1 strong{
		font-size: 58px;
		letter-spacing: 0;
	}
	.blocks h4 strong{
		font-size: 34px;
	}
	.blocks h3{
		font-size: 40px;
	}
	.pl4{
		margin-left: 311px;
	}
	.pl5{
		margin-left: 334px;
		margin-top: 114px;
	}
	.pl6{
		margin-left: 286px;
	}
	.pl7{
		margin-left: 356px;
	}
	.tabs-item-text{
		padding: 119px 300px;
	}
	.tabs-margin{
		margin: 35px 0;
	}
	.dot-pos1{
		left: 298px;
	}
	.dot-pos3{
		right: 299px;
	}
	.dot-pos4{
		right: 285px;
	}
	.dot-pos6{
		left: 281px;
	}
	.button-1{
		left: 2%;
	}
	.button-2{
		left: 35%;
		top: -23px;
	}
	.button-3{
		right: 1%;
	}
	.button-4{
		right: 1%;
	}
	.button-5{
		left: 35%;
	}
	.button-6{
		left: 2%;
	}
}
@media (max-width: 991px) {
	.tel{
		display: none;
	}
	.menu{
		position: absolute;
		right: 10px;
		top: 10px;
		margin-right: 10%;
	}
	.navbar-toggler-icon{
		width: 55px;
		height: 50px;
	}
	.blocks h2{
		font-size: 34px;
	}
	.blocks h1 strong{
		font-size: 55px;
	}
	.blocks h4 strong{
		font-size: 30px;
	}
	.blocks h3{
		font-size: 34px;
	}
	.blocks h5{
		font-size: 18px;
	}
	.planets{
		display: none;
	}
	.nav-item{
		padding: 5px 7px;
	}
	.nav-link {
		font-size: 25px;
	}
	.dropdown-item{
		font-size: 22px;
		margin: 8px 0;
	}
	.blocks{
		width: 100%;
		display: block;
		position: static;
	}
	.btn-blocks{
		padding: 5px 26px;
		font-size: 26px;
		margin-top: 20px;
	}
	.navbar-collapse {
		position: fixed;
		top: 50px;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		width: 75%;
		height: 100%;
	}

	.navbar-collapse.collapsing {
		left: -75%;
		transition: height 0s ease;
	}

	.navbar-collapse.show {
		left: 0;
		transition: left 300ms ease-in-out;
	}

	.navbar-toggler.collapsed ~ .navbar-collapse {
		transition: left 500ms ease-in-out;
	}
	.tabs-content{
		display: none;
	}
	.tabs-content-mobile{
		display: block;
	}
	.swiper-container{
		width: 720px;
		height: auto;
	}
	.tabs-item-text{
		padding: 15px 50px;
		text-align: center;
	}
	.swiper-wrapper{
		margin-top: 25px;
	}
	.swiper-button-next:after{
		background: url("/images/images/arrow_right.png");
		background-size: 84px 32px;
		background-repeat: no-repeat;
		width: 84px;
		height: 32px;
		display: block;
		content: "";
	}
	.swiper-button-next, .swiper-button-prev{
		width: 90px;
		height: auto;
	}
	.swiper-button-prev:after{
		background: url("/images/images/arrow_left.png");
		background-size: 84px 32px;
		background-repeat: no-repeat;
		width: 84px;
		height: 32px;
		display: block;
		content: "";
	}
	.swiper-button-next{
		top: 80px;
		right: 75px;
	}
	.swiper-button-prev{
		top: 80px;
		left: 75px;
	}
	.teacher {
		margin-top: 15px;
	}
    .modal-container {
        width: 745px;
    }
	.graduates-items-mobile {
		display: block;
	}
	.graduates-items {
		display: none;
	}
	.facts-items{
		width: 50%;
	}
}
@media (max-width: 771px) {
	.swiper-container{
		width: 540px;
		height: auto;
	}
	.school h2{
		letter-spacing: 0;
	}
    .modal-container {
        width: 610px;
    }
}
@media (max-width: 600px) {
	.gr-img-mobile {
		width: auto;
		height: 180px;
	}
	.main_blocks{
		background: linear-gradient(to top left, rgb(200,255,255), rgb(220, 252, 247));
		padding-top: 25px;
	}
	.swiper-container{
		width: 490px;
		height: auto;
	}
    .modal-body ul {
        padding-left: 15px;
    }
    .modal-container {
        width: 520px;
    }
}
@media (max-width: 500px) {
	.school h2{
		font-size: 27px;
		font-weight: 800;
	}
	.swiper-container{
		width: 100%;
		height: auto;
	}
	.blocks h1 strong{
		font-size: 48px;
		line-height: 55px;
	}
	.blocks h4 strong{
		font-size: 25px;
	}
	.blocks h5{
		font-size: 16px;
	}
	.swiper-button-next{
		top: 75px;
		right: 55px;
	}
	.swiper-button-prev{
		top: 75px;
		left: 55px;
	}
	.tabs-item-text {
		padding: 15px;
	}
	.menu{
		margin-right: 0;
	}
    .modal-container {
        width: 400px;
    }
	.gr-img-mobile {
		width: auto;
		height: 165px;
	}
	.facts-items{
		width: 100%;
	}
	.main_video iframe{
		width: 100%;
		height: auto;
	}
	.main_video{
		height: 400px;
	}
	.reviews-img{
		width: auto;
		height: 165px;
	}
}
@media (max-width: 400px) {
	.blocks h2 {
		font-size: 30px;
	}
	.blocks h1 strong {
		font-size: 42px;
		line-height: 47px;
	}
	.blocks h4 strong {
		font-size: 22px;
		line-height: 27px;
	}
	.blocks h3 {
		font-size: 32px;
	}
	.blocks h5 {
		font-size: 14px;
	}
	.btn-blocks {
		font-size: 23px;
	}
	.main_blocks{
		height: 470px;
	}
	.school h2 {
		font-size: 26px;
		font-weight: 700;
	}
	.tabs-item-text {
		padding: 5px 10px;
	}
	.swiper-button-prev {
		left: 5%;
	}
	.swiper-button-next {
		right: 5%;
	}
    .teacher h3{
        font-size: 27px;
    }
    .modal-container {
        width: 300px;
        padding: 20px 15px;
    }
	.gr-img-mobile {
		width: auto;
		height: 150px;
	}
	.graduates h3{
		font-size: 27px;
	}
	.graduates h3 span {
		font-size: 20px;
	}
	.main_video h3{
		font-size: 27px;
	}
	.reviews h3 {
		font-size: 27px;
	}
	.reviews-img{
		width: auto;
		height: 150px;
	}
}
@media (max-width: 350px) {
	.blocks h2 {
		font-size: 28px;
	}
	.blocks h1 strong {
		font-size: 36px;
		line-height: 42px;
	}
	.blocks h4 strong {
		font-size: 18px;
		line-height: 23px;
	}
	.main_blocks {
		height: 455px;
	}
	.school h2 {
		font-size: 22px;
		font-weight: 600;
	}
	.swiper-button-prev {
		left: 2%;
	}
	.swiper-button-next {
		right: 2%;
	}
	.tabs-item-text {
		font-size: 14px;
	}
	.navbar-toggler-icon {
		width: 40px;
		height: 45px;
	}
    .teacher h3, reviews h3{
        font-size: 22px;
        font-weight: 600;
    }
	.gr-img-mobile {
		width: auto;
		height: 125px;
	}
	.graduates h3{
		font-size: 22px;
		font-weight: 600;
	}
	.graduates h3 span {
		font-size: 17px;
		font-weight: 600;
	}
	.reviews-img{
		width: auto;
		height: 125px;
	}
}
@media (max-width: 300px) {
	.blocks h1 strong {
		font-size: 30px;
	}
	.navbar-toggler-icon {
		width: 35px;
		height: 40px;
	}
	.swiper-button-next:after, .swiper-button-prev:after{
		background-size: 70px 30px;
	}
	.swiper-button-next, .swiper-button-prev{
		width: 75px;
	}
}