html, body
{
    margin:0;
    padding:0;
    font-size: 15px;
    font-family: 'Exo 2', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}
a img, a
{
    border:none;
    outline:none;
}
.clear
{
    clear:both;
    visibility: hidden;
    height:0px;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px dotted #000;
    margin-top: 15px;
}
header img{
    width: 150px;
    height: auto;
}
.head-title{
    text-align: right;
}
.head-title h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.btn-filter{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 20px 0;
}
.search input{
    width: 100%;
    padding: 5px;
}
.head-table tr th{
    min-width: 75px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.body-table tr th{
    min-width: 75px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.desc-table tr td {
    font-size: 14px;
    text-align: justify;
}
.title {
    font-weight: 700;
    text-align: right !important;
}
.modal-dialog{
    max-width: 700px;
}
.block-bank{
    width: 1140px;
    position: relative;
    display: inline-block;
}
.table-bank{
    position: absolute;
    width: 100%;
    overflow-y: scroll;
}
.clip{
    width: 150px;
    height: 75px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.filter{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter select{
    margin-bottom: 10px;
}
.form-select{
    width: 48%;
    padding: 10px;
}
.block-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block-btn input, .btn_link{
    width: 48%;
}

@media(max-width: 1199px) {
    .block-bank{
        width: 960px;
    }
}
@media(max-width: 991px) {
    .block-bank{
        width: 720px;
    }
}
@media(max-width: 768px){
    header img{
        width: 120px;
    }
    .block-bank{
        width: 540px;
    }
}
@media(max-width: 600px) {
    .block-bank{
        width: 100%;
    }
    .filter{
        flex-direction: column;
    }
    .form-select{
        width: 100%;
    }
    .block-btn{
        flex-direction: column;
    }
    .block-btn input, .btn_link{
        width: 100%;
        margin-bottom: 10px;
    }
    .clip{
        width: 225px;
        height: 100px;
    }
    .body-table tr th{
        font-size: 16px;
    }
}
@media(max-width: 500px){
    .head-title h1{
        font-size: 20px;
        line-height: 25px;
    }
}
@media(max-width: 400px){
    .head-title h1{
        font-size: 18px;
        line-height: 20px;
    }
}
@media(max-width: 340px){
    .search input{
        width: 100%;
    }
    .btn-search {
        margin-top: 10px;
    }
}